html {
    scroll-behavior: smooth;
}
body {
    padding: 0;
    margin: 0;
}

::-webkit-scrollbar {
    width: 6px;
}

::-webkit-scrollbar-track {
    background: var(--c3);
}

::-webkit-scrollbar-thumb {
    background: var(--c4);
}

.nodrag {
    user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -webkit-user-drag: none;
    -ms-user-select: none;
}

:root {
    --c1: #ffffff;
    /*     white       */
    --c2: #000000;
    /*     black       */
    --c3: #f2f2f2;
    /*     vWhite      */
    --c4: #01798b;
    /*     Blue        */
    --c5: #bef1cb;
    /*       G1        */
    --c6: #bef1cb;
    /*       G2        */
    --c7: #c6f2c9;
    /*       G3        */
    --c8: #95D8EB;
    /*       cream     */
    --c9: #0CBAA6;
    /*                 */
    --c10: ;
}

.c1 {
    color: #ffffff;
}

.c2 {
    color: #000000;
}

.c3 {
    color: #f2f2f2;
}

.c4 {
    color: #01798b;
}

.c5 {
    color: #bef1cb;
}

.c6 {
    color: #bef1cb;
}

.c7 {
    color: #c6f2c9;
}

.c8 {
    color: #E7F8F6;
}

.c9 {
    color: #0CBAA6;
}


.bgc1 {
    background-color: #ffffff;
    z-index: 55 !important;
}

.bgc2 {
    background-color: #000000;
}

.bgc3 {
    background-color: #f2f2f2;
}

.bgc4 {
    background-color: #01798b;
}

.bgc5 {
    background-color: #bef1cb;
}

.bgc6 {
    background-color: #bef1cb;
}

.bgc7 {
    background-color: #c6f2c9;
}

.bgc8 {
    background-color: #EDF5E1;
}

.bgc9 {
    background-color: #0CBAA6;
}

#preloader {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    background: var(--c3);
    overflow: hidden;
    position: fixed;
    z-index: 50;
}

.animation-areapreloader{
    position:fixed;
    width: 60%;
    bottom: 0;
    left: 20%;
    right: 20%;
}

.box-areapreloader li {
    position: absolute;
    display: block;
    list-style: none;
    height: 50px;
    width: 50px;
    animation: preanimate 3.5s linear forwards;
    opacity: 0;
    z-index: 1;
}

.box-areapreloader li:nth-child(1) {
    left: 0%;
    font-size: 3em;
    font-size: .8em;
    animation-delay: 1.5s;
}

.box-areapreloader li:nth-child(2) {
    left: 32%;
    font-size: .9em;
    animation-delay: 0s;
}

.box-areapreloader li:nth-child(3) {
    left: 70%;
    font-size: 1.5em;
    animation-delay: 4.5s;
    
}

.box-areapreloader li:nth-child(4) {
    left: 72%;
    font-size: 2em;
    animation-delay: 0s;
}

.box-areapreloader li:nth-child(5) {
    left: 85%;
    font-size: 1.8em;
    animation-delay: 2s;
}

.box-areapreloader li:nth-child(6) {
    left: 20%;
    font-size: 1.6em;
    animation-delay: 2.5s;
}

.box-areapreloader li:nth-child(7) {
    left: 55%;
    font-size: 2em;
    animation-delay: 1.5s;
}

.box-areapreloader li:nth-child(8) {
    left: 60%;
    font-size: 1.6em;
    animation-delay: 3s;
}

.box-areapreloader li:nth-child(9) {
    left: 38%;
    font-size: 2em;
    animation-delay: .5s;
}
.box-areapreloader li:nth-child(10) {
    left: 18%;
    font-size: 2em;
    animation-delay: 0s;
}
.box-areapreloader li:nth-child(11) {
    left: 68%;
    font-size: 2em;
    animation-delay: .5s;
}
.box-areapreloader li:nth-child(12) {
    left: 55%;
    font-size: 2em;
}
.box-areapreloader li:nth-child(13) {
    left: 91%;
    font-size: 2em;
    animation-delay: .8s;
}
.box-areapreloader li:nth-child(14) {
    left: 100%;
    font-size: 2em;
    animation-delay: 2s;
}
.box-areapreloader li:nth-child(15) {
    left: 5%;
    font-size: 2em;
    animation-delay: .2s;
}
.box-areapreloader li:nth-child(16) {
    left: 13%;
    font-size: 2em;
    animation-delay: 1.5s;
}
@keyframes preanimate{
    
    0% {
        transform: translateY(0) rotate(0deg);
        opacity: 0.8;
    }

    100% {
        transform: translateY(-800px) rotate(36deg);
        opacity: 0;
    }
}

.animbox{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    position: fixed;
    animation: colchange .5s linear 4.5s forwards;
}

.hide{
    position: absolute;
    bottom: 0;
    height: 10vh;
    width: 100%;
    background-color: var(--c3);
    z-index: 15;
    animation: colchange .5s linear 4.4s forwards;
}


@keyframes colchange{
    from{
        background-color: var(--c3);
    }
    
    to{
        background-color: var(--c4);
    }
}





.fon1 {
    font-family: 'Secular One', sans-serif;
    user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -webkit-user-drag: none;
    -ms-user-select: none;
}

.fon2 {
    font-family: 'Mulish', sans-serif;
    user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -webkit-user-drag: none;
    -ms-user-select: none;
}

.fon3 {
    font-family: 'Arimo', sans-serif;
    user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -webkit-user-drag: none;
    -ms-user-select: none;
}

/*Mobile Devices*/
@media only screen and (max-width: 575px) {

    .hero-slider {
        width: 100%;
        height: 350px;
        overflow: hidden;
    }

    .subtitle {
        display: none;
    }

    .title {
        display: none;
    }



    .video-list-container {
        height: 250px !important;
        overflow-y: scroll;
        border-radius: 5px;
        box-shadow: 0 5px 15px rgba(0, 0, 0, .1);
        padding: 15px;
        position: relative;
    }

    .video-list-container .list-video {
        position: relative;
        width: 100% !important;
        height: 50% !important;
    }

    .video-list-container .list.active {
        width: 98% !important;
    }

    .video-list-container .list,
    .active {
        width: 98% !important;
    }

    .playbox {
        position: absolute !important;
        width: 95% !important;
        transform: translate(-4%, 0%) !important;
    }

    .play3 {
        width: 90% !important;
        height: 23vh !important;
    }

    .animation-area{
        position: relative !important;
        top: 900px !important;
    }

    .olap{
         background-color: rgba(255, 255, 255, 0) !important;
    }
    .hero-slider .flickity-prev-next-button {
    width: 40px !important;
    height: 40px !important;
    background: transparent;
}
    .thd{
        text-align: center !important;
    }
    .td {
    margin-top: 10% !important;
}
    
}





@media only screen and (max-width: 480px) {}

@media only screen and (max-width: 768px) {}

/*medium devices*/
@media only screen and (max-width: 1024px) {
    .playbox {
        width: 95% !important;
        height: 60% !important;
    }

    .main-video-container .main-video {
        border-radius: 5px;
        width: 100%;
        height: 400px !important;
    }

    .container .video-list-container {
        height: 250px;
        overflow-y: scroll;
        border-radius: 5px;
        box-shadow: 0 5px 15px rgba(0, 0, 0, .1);
        background-color: #fff;
        position: relative;
    }

    .animation-area {
        position: relative;
        top: 150px !important;
    }
}

/*Large devices*/
@media only screen and (min-width: 1281px) {

    .container .video-list-container {}

    .video-list-container {
        height: 70vh !important;
        width: 20% !important;
        overflow-y: scroll;
        border-radius: 5px;
        background-color: var(--c2) !important;
        padding: 15px;
        position: relative;
        right: 40px !important;
        margin-bottom: 2.1% !important;
    }

    .video-list-container2 .list2 .list-video2 {
        border-radius: 5px;
        padding: 5% !important;
    }

    .play3 {
        height: 18vh !important;
    }

    .main-video-container {
        height: 70vh !important;
    }

    .main-video {
        height: 100% !important;
    }




}


#sec1 {
    width: 100%;
    height: 100vh;
    position: fixed;
    background-attachment: fixed;
}

#sec2 {
    position: relative;
    top: 1000px;
    width: 100%;
    background: var(--c9);
    z-index: 1;
    padding-bottom: 5%;
    z-index: 1;
}

#sec3 {
    position: relative;
    top: 1000px;
    width: 100%;
    background: var(--c4);
    z-index: 1;
    padding-bottom: 5%;
}

#sec4 {
    position: relative;
    top: 1000px;
    width: 100%;
    background: var(--c3);
    z-index: 1;
    padding-bottom: 5%;
}

#sec5 {
    position: relative;
    top: 1000px;
    width: 100%;
    background: var(--c4);
    z-index: 1;
    padding-bottom: 5%;
}

#sec6 {
    position: relative;
    top: 1000px;
    width: 100%;
    background: var(--c3);
    z-index: 1;
    padding-bottom: 5%;
}

#sec7 {
    position: relative;
    top: 1000px;
    width: 100%;
    background: var(--c4);
    z-index: 1;
    padding-bottom: 5%;
}

.footer {
    position: relative;
    top: 1000px;
    width: 100%;
    background-color: var(--c4);
    z-index: 1;
}


.navbar a {
    padding-left: 20px;
    font-size: 15px;
    color: var(--c1) !important;
    display: block;
    cursor: pointer !important;
    position: relative;
    right: 30px;
    letter-spacing: 1.5px;
}

.navbar a::after {
    content: '';
    width: 0px;
    height: 1px;
    display: block;
    background: var(--c5);
    transition: 300ms;
}

.navbar a:hover::after {
    width: 85%;
}

.nav-link {
    color: var(--c1);
}

nav{
  display:flex;
  height:60px;
  width:100%;
  align-items: center;
  justify-content:space-between;
  padding:0 50px 0 100px;
  flex-wrap: wrap;
  color: var(--c1);
  z-index: 10 !important;
  box-shadow: 0 0px 20px rgba(0, 0, 0, 0.5);
}
nav .logo{
  color:#fff;
  font-size:20px;
  font-weight:200;
}

.letsp {
    letter-spacing: 5px;
}

nav ul{
  display:flex;
  flex-wrap: wrap;
  padding-top: 10px;
  list-style-type: none;
}
nav ul li{
  margin:0 5px;
}
nav ul li a{
  color:#f2f2f2;
  text-decoration: none;
  font-size: 18px;
  font-weight: 500;
  border-radius: 5px;
  letter-spacing:1px;
  border-bottom:1.5px solid transparent;
  transition:all 0.3s ease;
}

nav .menu-btn i{
  color:#fff;
  font-size:22px;
  cursor: pointer;
  display:none;
}
input[type="checkbox"]{
  display:none;
}

@media (max-width:1000px){
  nav{
    padding:0 40px 0px 50px;
  }
}
@media (max-width:920px){
  nav .menu-btn i{
    display:block;
  }
  #click:Checked ~ .menu-btn i:before{
    content:'\f00d';
  }
  .navbar a:hover::after {
    width: 80%;
}
  nav ul{
    position:fixed;
    top:60px;
    left:-100%;
    background:#01798b;
    height:100vh;
    width:50vw;
    text-align: center;
    z-index:10;
    display:block;
    transition:all 0.3s ease;
  }
  #click:Checked ~ ul {
    left:0px;
  }
  nav ul li{
    width:100%;
    margin:30px 0;
  }
  nav ul li a{
    width:100%;
    margin-left:-100%;
    display:block;
    font-size: 20px;
    transition:0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }
  #click:Checked ~ ul li a{
    margin-left:0px;
  }
}

.head {
    padding-top: 5%;
    font-size: 2.5em;
    letter-spacing: 2px;
    text-align: center;
}

a {
    color: none;
    text-decoration: none;
}

a:hover {
    text-decoration: none;
    color: none;
    background-color: none;
}

.ct {
    padding: 5%;

}


.overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: linear-gradient(to bottom, rgba(14, 29, 51, 0.8), rgba(14, 29, 51, 0.2));
}

.hero-slider {
    width: 100%;
    height: 100vh;
    overflow: hidden;
}


.hero-slider .carousel-cell {
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    z-index: 20;
}

.hero-slider .carousel-cell .inner {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    color: var(--c1);
    text-align: center;
   
}

.hero-slider .carousel-cell .inner .subtitle {
     padding-top: 5%;
    font-size: 3.2rem;
    letter-spacing: 3px;
    margin-bottom: 5px;
     opacity: 1 !important;
}


.olap{
    position: relative;
    width: 50%;
    background-color: rgba(255, 255, 255, 0.15);
    z-index: -1;
    border-radius: 4px;
    box-shadow: 0 10px 35px -15px rgba(255,255,255,0.3);
}

.hdul{
    text-decoration: 3px underline;
    text-decoration-color: var(--c9);
}
.hdbg{
    background-color: var(--c4);
}

.hero-slider .carousel-cell .inner .title {
    font-size: 2rem;
    line-height: 1.2em;
    text-transform: uppercase;
    letter-spacing: 3px;
    margin-bottom: 40px;
}

.hero-slider .carousel-cell .inner .btn {
    border: 1px solid #fff;
    padding: 14px 18px;
    text-transform: uppercase;
    font-size: 0.8rem;
    letter-spacing: 3px;
    color: #fff;
    text-decoration: none;
    transition: all 0.2s ease;
     margin-bottom: 5%;
}

.hero-slider .carousel-cell .inner .btn:hover {
    background: #fff;
    color: #000;
}

.hero-slider .flickity-prev-next-button {
    width: 65px;
    height: 65px;
    background: transparent;
}

.hero-slider .flickity-prev-next-button:hover {
    background: transparent;
}

.hero-slider .flickity-prev-next-button .arrow {
    fill: white;
}

.hero-slider .flickity-page-dots {
    bottom: 30px;
}

.hero-slider .flickity-page-dots .dot {
    width: 30px;
    height: 4px;
    opacity: 1;
    background: rgba(255, 255, 255, 0.5);
    border: 0 solid white;
    border-radius: 0;
}

.hero-slider .flickity-page-dots .dot.is-selected {
    background: #f00;
    border: 0 solid #f00;
}

.abtlog {
    z-index: 5;
}

.td {
    margin-top: 50%;
}

.animation-area {
    position: relative;
    animation-delay: 2s;
    opacity: 1;
    z-index: -1;
}

.box-area li {
    position: absolute;
    display: block;
    list-style: none;
    height: 30px;
    width: 30px;
    animation: animate 15s linear infinite;
    top: 0px;
    opacity: 1;
    z-index: -1;
}

.box-area li:nth-child(1) {
    left: 5%;
    font-size: 3em;
    font-size: .8em;
    animation-delay: 1.5s;
}

.box-area li:nth-child(2) {
    left: 32%;
    font-size: .9em;
    animation-delay: 0s;
    animation-duration: 10s;
}

.box-area li:nth-child(3) {
    left: 70%;
    font-size: 1.5em;
    animation-delay: 4.5s;
}

.box-area li:nth-child(4) {
    left: 92%;
    font-size: 2em;
    animation-delay: 1.5s;
    animation-duration: 15s;
}

.box-area li:nth-child(5) {
    left: 85%;
    font-size: 1.8em;
    animation-delay: 3s;
}

.box-area li:nth-child(6) {
    left: 20%;
    font-size: 1.6em;
    animation-delay: 2.5s;
}

.box-area li:nth-child(7) {
    left: 55%;
    font-size: 2em;
    animation-delay: 2s;
}

.box-area li:nth-child(8) {
    left: 60%;
    font-size: 1.6em;
    animation-delay: 3s;
}

.box-area li:nth-child(9) {
    left: 38%;
    font-size: 2em;
    animation-delay: .5s;
}



@keyframes animate {
    0% {
        transform: translateY(0) rotate(0deg);
        opacity: 1;
    }

    100% {
        transform: translateY(-700px);
        opacity: 0.5;
    }
}


.mcs {
    transition: .5s;
}

.mcs:hover {
    transform: scale(1.2);
    transition: .5s;
}



.abox {
    background: var(--c1);
    border-radius: 6px;
    padding: 40px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}


.atxt {
    position: relative;
    padding-top: 10%;
}

.apic {
    position: relative;
    top: 50px;
    z-index: 10;
}



.upbtn {
    position: fixed;
    z-index: 10;
    bottom: 10px;
    right: 10px;
    color: var(--c1);
    background-color: var(--c4);
    box-shadow: 0 0 5px 1px rgba(255, 255, 255, 0.5);
    opacity: 0;
}










.cont {
    gap: 20px;
}

.main-video-container {
    flex: 1 1 700px;
    border-radius: 5px;
    background-color: var(--c2);
    padding: 15px;
}

.main-video-container .main-video {
    border-radius: 5px;
    width: 100%;
    height: 90%;
}

.video-list-container {
    /*   height: 520px;*/
    height: 50vh;
    width: 100%;
    overflow-y: scroll;
    border-radius: 5px;
    background-color: var(--c2) !important;
    padding: 5px;
    position: relative;
    
}

.video-list-container::-webkit-scrollbar {
    width: 10px;
}

.video-list-container::-webkit-scrollbar-track {
    background-color: #fff;
    border-radius: 5px;
}

.video-list-container::-webkit-scrollbar-thumb {
    background-color: var(--c9);
    border-radius: 5px;
}

.video-list-container .list {
    align-items: center;
    cursor: pointer;
    border-radius: 5px;
    width: 100%;
}

.video-list-container .list:last-child {
    margin-bottom: 0;
}

.video-list-container .list.active {
    width: 100%;
}

.video-list-container .list.active .list-title {
    color: #fff;
}

.video-list-container .list .list-video {
    width: 100%;
    height: 100%;
    padding-bottom: 5px;
    border-radius: 5px;
    padding: 5px;
}

.main-video-container2 {
    flex: 1 1 700px;
    border-radius: 5px;
    background-color: var(--c2);
}
.main-video2 {
    width: 100%;
    height: 65vh;
    padding: 10px;
}

.video-list-container2 .list2 {
    cursor: pointer;
    border-radius: 5px;
    width: 100% !important;
    padding-top: 3%;
    margin-left: 4%;
}

.video-list-container2 .list2.active2 {
    width: 100%;
}

.video-list-container2 .list2 .list-video2 {
    width: 100%;
    border-radius: 5px;
    background-color: var(--c2);
}

.playbox {
    position: absolute;
    transform: translate(0%, 0%);
    width: 90%;
    height: 32%;
    background-color: var(--c1);
    z-index: 5;
    opacity: 0;
}


.play3 {
    position: absolute;
    transform: translate(0%, 0%);
    z-index: 15;
    opacity: 0;
    width: 25%;
    height: 15vh;
    /*    margin-left: -1.2%;*/
    background-color: var(--c2);
}

#vids{
    background-color: var(--c3);
    padding: 8px;
}






















.contact-footer {
    background: var(--c4);
}

.contact-footer h3 {
    font-size: 1.3rem;
    color: #fff;
    text-align: center;
}

.social-links {
    display: flex;
    justify-content: center;
}

.social-links a {
    text-decoration: none;
    width: 40px;
    height: 40px;
    color: #fff;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0.4rem;
    transition: all 0.5s ease;
    background-color: rgba(255, 255, 255, 0.2);
}

.social-links a:hover {
    transition: 0.9s;
}

.fb:hover {
    color: #4267B2;
}

.tw:hover {
    color: #1DA1F2;
}

.is:hover {
    color: #fbad50;
}

.yt:hover {
    color: #FF0000;
}

.loc {
    color: var(--c1);
    transition: .5s;
}

.db{
    font-size: 11px;
}

.loc:hover {
    color: var(--c5);
    transition: .5s;
}

.heart {
    user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -webkit-user-drag: none;
    -ms-user-select: none;
}

.cpy{
    font-size: 14px;
}

.cpy:hover .heart {
    animation: pulse 1s infinite;
}

@keyframes pulse {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}


@media screen and (min-width: 768px) {
    .contact-info {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (min-width: 992px) {
    .contact-form {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        align-items: center;
    }
}

@media screen and (min-width: 1200px) {
    .contact-info {
        grid-template-columns: repeat(4, 1fr);
    }
}







.cbox {
    width: 85%;
    background: #fff;
    border-radius: 6px;
    padding-top: 50px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.details {
    margin: 14px;
    text-align: center;
}

.details i {
    font-size: 30px;
    color: #0CBAA6;
    margin-bottom: 10px;
}

.details .topic {
    font-size: 18px;
    font-weight: 500;
}

.details .ctext {
    font-size: 14px;
    color: #afafb6;
}


.fline {
    padding: 5px;
    width: 100%;
    border: none;
    border-bottom: 2px solid #0CBAA6;
    background-color: transparent;
    resize: none;
    outline: none;
}

.fline input {
    border: none;
    outline-width: 0;
}


.sbtn {
    background:var(--c1);
    color: var(--c9);
    border: 2px solid var(--c9);
    transition: all 0.5s ease;
    padding: 14px 18px;
    text-transform: uppercase;
    font-size: 1rem;
    letter-spacing: 3px;
}

.sbtn:hover {
    background: #0CBAA6;
    color: #fff;
    transition: all 0.5s ease;
}


.vmbtn {
    border: 1px solid var(--c1);
    color: var(--c1);
     transition: all 0.5s ease;
    padding: 14px 18px;
    text-transform: uppercase;
    font-size: 1rem;
    letter-spacing: 3px;
}

.vmbtn:hover {
    background: var(--c1);
    color: var(--c4);
     transition: all 0.5s ease;
}

.vmbtn2 {
    border: 1px solid var(--c1);
    color: var(--c1);
     transition: all 0.5s ease;
    padding: 14px 18px;
    text-transform: uppercase;
    font-size: 1rem;
    letter-spacing: 3px;
}

.vmbtn2:hover {
    background: var(--c1);
    color: var(--c9);
     transition: all 0.5s ease;
}
