html {
    scroll-behavior: smooth;
}

body {
    padding: 0;
    margin: 0;
}

::-webkit-scrollbar {
    width: 6px;
}

::-webkit-scrollbar-track {
    background: var(--c3);
}

::-webkit-scrollbar-thumb {
    background: var(--c4);
}

.nodrag{
    user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -webkit-user-drag: none;
    -ms-user-select: none;
}

:root {
    --c1: #ffffff;
    /*     white       */
    --c2: #000000;
    /*     black       */
    --c3: #f2f2f2;
    /*     vWhite      */
    --c4: #01798b;
    /*     Blue        */
    --c5: #bef1cb;
    /*       G1        */
    --c6: #bef1cb;
    /*       G2        */
    --c7: #c6f2c9;
    /*       G3        */
    --c8: #95D8EB;
    /*       cream     */
    --c9: #0CBAA6;
    /*                 */
    --c10: ;
}

.c1 {
    color: #ffffff;
}

.c2 {
    color: #000000;
}

.c3 {
    color: #f2f2f2;
}

.c4 {
    color: #01798b;
}

.c5 {
    color: #bef1cb;
}

.c6 {
    color: #bef1cb;
}

.c7 {
    color: #c6f2c9;
}

.c8 {
    color: #E7F8F6;
}
.c9 {
    color: #0CBAA6;
}


.bgc1 {
    background-color: #ffffff;
    z-index: 55 !important;
}

.bgc2 {
    background-color: #000000;
}

.bgc3 {
    background-color: #f2f2f2;
}

.bgc4 {
    background-color: #01798b;
}

.bgc5 {
    background-color: #bef1cb;
}

.bgc6 {
    background-color: #bef1cb;
}

.bgc7 {
    background-color: #c6f2c9;
}

.bgc8 {
    background-color: #EDF5E1;
}

.bgc9 {
    background-color: #0CBAA6;
}

a {
    color: none;
    text-decoration: none;
}

a:hover {
    text-decoration: none;
    color: none;
    background-color: none;
}

.fon1 {
    font-family: 'Secular One', sans-serif;
        user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -webkit-user-drag: none;
    -ms-user-select: none;
}

.fon2 {
    font-family: 'Mulish', sans-serif;
        user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -webkit-user-drag: none;
    -ms-user-select: none;
}

.fon3 {
    font-family: 'Arimo', sans-serif;
        user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -webkit-user-drag: none;
    -ms-user-select: none;
}

@media only screen and (max-width: 575px) {
  #traisec{
    position: relative;
    top: 400px !important;
}
    .footer {
    top: 400px!important;
    z-index: 1;
}
    .ytplay{
    padding: 5px !important;
}
    
}
@media screen and (min-width: 768px){
    .contact-info{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
    
}

@media screen and (min-width: 992px){
    .contact-form{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        align-items: center;
    }
}

@media screen and (min-width: 1200px){
    .contact-info{
        grid-template-columns: repeat(4, 1fr);
    }
    
    #traisec{
    position: relative;
    top: 550px !important;
}
    .footer{
    top: 550px!important;
    z-index: 1;
}
    
}



.head {
    font-size: 2.5em;
}


.navbar {
    width: 100%;
    background-color: var(--c4);
    color: var(--c1);
    z-index: 5 !important;
    box-shadow: 0 0px 20px rgba(0, 0, 0, 0.5);
}
.navbar a{
    padding: 8px 8px 8px 64px;
    font-size: 18px;
    color: var(--c1)!important;
    display: block;
    cursor: pointer !important;
    position: relative;
    right: 0;
}

.navbar a::after {
    content: '';
    width: 0px;
    height: 1px;
    display: block;
    background: var(--c5);
    transition: 300ms;
}

.navbar a:hover::after {
    width: 85%;
}

.nav-link {
    color: var(--c1);
}

.navbar-nav{
    position: absolute;
    right: 10px;
    margin: 5%;
}



.animation-area{
    position: relative;
    bottom: 0;
    animation: opa 5s forwards;
    animation-delay: 1s;
    opacity: 0;
}

@keyframes opa{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}

.box-area li {
    position: absolute;
    display: block;
    list-style: none;
    height: 30px;
    width: 30px;
    animation: animate 10s linear infinite;
    top: -50px;
    opacity: 1;
    z-index: -1;
}

.box-area li:nth-child(1) {
    left: 5%;
    font-size: 3em;
    font-size: .8em;
    animation-delay: 1.5s;
}

.box-area li:nth-child(2) {
    left: 32%;
    font-size: .9em;
    animation-delay: 0s;
    animation-duration: 8s;
}

.box-area li:nth-child(3) {
    left: 70%;
    font-size: 1.5em;
    animation-delay: 2.5s;
}

.box-area li:nth-child(4) {
    left: 92%;
    font-size: 2em;
    animation-delay: 1.5s;
    animation-duration: 10s;
}

.box-area li:nth-child(5) {
    left: 85%;
    font-size: 1.8em;
    animation-delay: 3s;
}

.box-area li:nth-child(6) {
    left: 20%;
    font-size: 1.6em;
    animation-delay: 2.5s;
}

.box-area li:nth-child(7) {
    left: 55%;
    font-size: 2em;
    animation-delay: 2s;
}

.box-area li:nth-child(8) {
    left: 60%;
    font-size: 1.6em;
    animation-delay: 3s;
}

.box-area li:nth-child(9) {
    left: 38%;
    font-size: 2em;
    animation-delay: .5s;
}



@keyframes animate {
    0% {
        transform: translateY(0);
        opacity: 0.8;
    }

    100% {
        transform: translateY(-800px);
        opacity: 0;
    }
}

.ltlo{
}


.logobox{
    position: fixed;
    height: 20vh;
}

#traisec{
    position: relative;
    top: 350px;
    width: 100%;
    background-color: var(--c9);
    padding: 5%;
    padding-bottom: 5%;
}


.ytplay{
    padding: 30px;
}

.vmbtn{
    color: var(--c1);
    border: 2px solid var(--c1);
    transition: all 0.5s ease;
    padding: 14px 18px;
    text-transform: uppercase;
    font-size: 1rem;
    letter-spacing: 3px;
}
  .vmbtn:hover {
    background: var(--c1);
    color: var(--c9);
    transition: all 0.5s ease;
  }








.footer {
    position: relative;
    top: 350px;
    width: 100%;
    background-color: var(--c4);
    z-index: 1;
}

.contact-footer {
    background: var(--c4);
}

.contact-footer h3 {
    font-size: 1.3rem;
    color: #fff;
    text-align: center;
}

.social-links {
    display: flex;
    justify-content: center;
}

.social-links a {
    text-decoration: none;
    width: 40px;
    height: 40px;
    color: #fff;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0.4rem;
    transition: all 0.5s ease;
    background-color: rgba(255, 255, 255, 0.2);
}

.social-links a:hover {
    transition: 0.9s;
}

.fb:hover {
    color: #4267B2;
}

.tw:hover {
    color: #1DA1F2;
}

.is:hover {
    color: #fbad50;
}

.yt:hover {
    color: #FF0000;
}

.loc {
    color: var(--c1);
    transition: .5s;
}

.db{
    font-size: 11px;
}

.loc:hover {
    color: var(--c5);
    transition: .5s;
}

.heart {
    user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -webkit-user-drag: none;
    -ms-user-select: none;
}

.cpy{
    font-size: 14px;
}

.cpy:hover .heart {
    animation: pulse 1s infinite;
}

@keyframes pulse {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}









































